* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

h1 {
    background-color: rgb(3, 0, 153);
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid aqua;
    width: 100%;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    height: 300px;
    background-color: aquamarine;
}

.div {
    border: 1px solid black;
    height: 100px;
    width: 40%;
    background-color: white;
}

.verificacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.moto {
    background-image: url("moto.jpeg");
    background-size: cover;
}

.ocultar {
    display: none;
}